<header></header>
<div class="well well-sm" style='position:fixed; width:100%; z-index:3;'>
    <div class="container fixed-width">
        <button type="button" class="btn btn-primary" id="btnStart" (click)='start()'>
                    开始
            </button>
        <button type="button" class="btn btn-default" id="btnPauseLH" (click)='pause()'>
                暂停
            </button>
        <button type="button" class="btn btn-default" id="btnRestart" (click)='restart()'>
                重新开始
            </button>
    </div>
</div>
<div class="container fixed-width" style="padding-top:80px;">

    <div class='input-group bottom-gap col-sm-12'>
        <span class='input-group-addon'>状态：</span>
        <input readonly type='text' class='form-control' id='txtStatus' [(ngModel)]="Model.CurrStatus" />
    </div>
    <div class='input-group bottom-gap'>
        <span class='input-group-addon'>温度：</span>
        <input readonly type='text' class='form-control' id='txtTemp' [(ngModel)]="Model.Temperature" />
    </div>

    <div>
        <ul class="runarea">
            <li>
                <div class='input-group bottom-gap'>
                    <span class='input-group-addon'>当前体积：</span>
                    <input readonly type='text' id='txtCurrVolume' class='form-control' [(ngModel)]="Model.CurrVolume" />
                    <span class="input-group-addon">ml</span>
                </div>
            </li>
            <li class="pump" id='pumpIn'>
                <p>{{'pump' + Model.In.PumpId}}</p>
                <p><img [src]='Model.In.img' width="50" height="50" />{{Model.In.CurrFlowRate + 'ml/min'}}</p>
                <p>{{Model.In.StatusInfo}}</p>
            </li>
            <li class="pump" id='pumpOut'>
                <p>{{'pump' + Model.Out.PumpId}}</p>
                <p><img [src]='Model.Out.img' width="50" height="50" />{{Model.Out.CurrFlowRate + 'ml/min'}}</p>
                <p>{{Model.Out.StatusInfo}}</p>
            </li>
        </ul>
    </div>

    <div class='col-sm-12' style="margin:10px 0;padding:0px;">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                摇床
            </div>
            <div class='panel-body'>
                <div class='input-group bottom-gap'>
                    <span class='input-group-addon'>速度</span>
                    <input readonly type='text' class='form-control' [(ngModel)]="Model.Rocker.Speed" />
                </div>
                <div class='input-group'>
                    <span class='input-group-addon'>角度</span>
                    <input readonly type='text' class='form-control' [(ngModel)]="Model.Rocker.Angle" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id='tmplPump'>
    <p>{0}</p>
    <p><img src='{3}' width="50" height="50" />{1} ml/min</p>
    <p>{2}</p>
</script>
<footer></footer>