<header></header>
<div class="well well-sm" style='position:fixed; width:100%; z-index:3;'>
    <div class="container fixed-width">
        <button type="button" class="btn btn-primary" id="btnSave" (click)='save()'>
                    保存
            </button>
        <button type="button" class="btn btn-default" id="btnMonitor" (click)='monitor()'>
                监控
            </button>
        <button type="button" class="btn btn-default" id="btnBack" (click)='back()'>
                返回
            </button>
    </div>
</div>
<div class="container fixed-width" style="padding-top:80px; padding-bottom: 50px;">
    <div class='panel panel-default'>
        <div class='panel-heading'>
            基本信息
        </div>
        <div class='panel-body'>
            <div class='input-group bottom-gap'>
                <span class='input-group-addon'>项目名称</span>
                <input [(ngModel)]='Name' type='text' class='form-control' />
            </div>
            <div class='input-group bottom-gap'>
                <span class='input-group-addon'>细胞名称</span>
                <input [(ngModel)]='Cell' type='text' class='form-control' />
            </div>
            <div class='input-group bottom-gap'>
                <span class='input-group-addon'>操作人</span>
                <input [(ngModel)]='UserName' type='text' class='form-control' />
            </div>
            <div class='input-group'>
                <span class='input-group-addon'>描述</span>
                <input [(ngModel)]='Description' type='text' class='form-control' />
            </div>
        </div>
    </div>

    <div class='panel panel-default'>
        <div class="panel-heading">
            <h3 class="panel-title">{{In.PumpName}}</h3>
        </div>
        <div class="panel-body pumparea">
            <div class="input-group">
                <span class="input-group-addon">初始流量</span>
                <input type="text" class="form-control" [(ngModel)]='In.InitialVolume' />
                <span class="input-group-addon">ml</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">初始流速</span>
                <input type="text" class="form-control" [(ngModel)]='In.InitialFlowRate' />
                <span class="input-group-addon">ml/min</span>
            </div>
            <div class='input-group'>
                <div class='btn-group' style='margin-right:5px'>
                    <button type='button' class='btn btn-default dropdown-toggle' scene='SingleMode' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                <span class='btn-val'>{{In.ProcessMode}}</span><span class='caret' style='margin-left:3px;'></span>
                            </button>
                    <ul class='dropdown-menu'>
                        <li><a href='#' (click)="setMode('SingleMode', 'In')" scene='SingleMode'>Single Vol</a></li>
                        <li><a href='#' (click)="setMode('FixedVolumeMode', 'In')" scene='FixedVolumeMode'>Fixed Vol</a></li>
                        <li><a href='#' (click)="setMode('VariantVolumeMode', 'In')" scene='VariantVolumeMode'>Variant vol</a></li>
                    </ul>
                </div>
                <div class="checkbox">
                    <label>
                                  <input type="checkbox" [(ngModel)]='In.IsUseabled' />Is Enabled
                                </label>
                </div>
            </div>
            <div class="input-group scene " [hidden]='In.ProcessMode == "SingleMode"'>
                <span class="input-group-addon">周期</span>
                <input type="text" class="form-control" [(ngModel)]='In.Period' />
                <span class="input-group-addon">min</span>
            </div>
            <div class="input-group  scene" [hidden]='In.ProcessMode=="SingleMode" || In.ProcessMode=="VariantVolumeMode"'>
                <span class="input-group-addon">间隔</span>
                <input type="text" class="form-control" [(ngModel)]='In.FirstSpan' />
                <span class="input-group-addon  Fixedscene">min</span>
            </div>
            <div class="input-group  scene" [hidden]='In.ProcessMode=="SingleMode" || In.ProcessMode=="VariantVolumeMode"'>
                <span class="input-group-addon">流量</span>
                <input type="text" class="form-control" [(ngModel)]='In.Volume' />
                <span class="input-group-addon">ml</span>
            </div>
            <div class="input-group  scene" [hidden]='In.ProcessMode=="SingleMode" || In.ProcessMode=="VariantVolumeMode"'>
                <span class="input-group-addon">流速</span>
                <input type="text" class="form-control" [(ngModel)]='In.FlowRate' />
                <span class="input-group-addon">ml/min</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon">开始时间</span>
                <input type="text" class="form-control" [(ngModel)]='In.StartTime' />
            </div>
            <div class="input-group">
                <span class="input-group-addon">结束时间</span>
                <input type="text" class="form-control" [(ngModel)]='In.EndTime' />
            </div>
        </div>
    </div>

    <div class='panel panel-default'>
        <div class="panel-heading">
            <h3 class="panel-title">{{Out.PumpName}}</h3>
        </div>
        <div class="panel-body pumparea">
            <div class="input-group">
                <span class="input-group-addon">初始流量</span>
                <input type="text" class="form-control" [(ngModel)]='Out.InitialVolume' />
                <span class="input-group-addon">ml</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">初始流速</span>
                <input type="text" class="form-control" [(ngModel)]='Out.InitialFlowRate' />
                <span class="input-group-addon">ml/min</span>
            </div>
            <div class='input-group'>
                <div class='btn-group' style='margin-right:5px'>
                    <button type='button' class='btn btn-default dropdown-toggle' scene='SingleMode' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                <span class='btn-val'>{{Out.ProcessMode}}</span><span class='caret' style='margin-left:3px;'></span>
                            </button>
                    <ul class='dropdown-menu'>
                        <li><a href='#' (click)="setMode('SingleMode', 'Out')" scene='SingleMode'>Single Vol</a></li>
                        <li><a href='#' (click)="setMode('FixedVolumeMode', 'Out')" scene='FixedVolumeMode'>Fixed Vol</a></li>
                        <li><a href='#' (click)="setMode('VariantVolumeMode', 'Out')" scene='VariantVolumeMode'>Variant vol</a></li>
                    </ul>
                </div>
                <div class="checkbox">
                    <label>
                                  <input type="checkbox" [(ngModel)]='Out.IsUseabled' />Is Enabled
                                </label>
                </div>
            </div>
            <div class="input-group  scene" [hidden]='Out.ProcessMode=="SingleMode"'>
                <span class="input-group-addon">周期</span>
                <input type="text" class="form-control" [(ngModel)]='Out.Period' value="Out.Period" />
                <span class="input-group-addon">min</span>
            </div>
            <div class="input-group   scene" [hidden]='Out.ProcessMode=="SingleMode" || Out.ProcessMode=="VariantVolumeMode"'>
                <span class="input-group-addon">间隔</span>
                <input type="text" class="form-control" [(ngModel)]='Out.FirstSpan' value="Out.FirstSpan" />
                <span class="input-group-addon  Fixedscene">min</span>
            </div>
            <div class="input-group   scene" [hidden]='Out.ProcessMode=="SingleMode" || Out.ProcessMode=="VariantVolumeMode"'>
                <span class="input-group-addon">流量</span>
                <input type="text" class="form-control" [(ngModel)]='Out.Volume' value="Out.Volume" />
                <span class="input-group-addon">ml</span>
            </div>
            <div class="input-group   scene" [hidden]='Out.ProcessMode=="SingleMode" || Out.ProcessMode=="VariantVolumeMode"'>
                <span class="input-group-addon">流速</span>
                <input type="text" class="form-control" [(ngModel)]='Out.FlowRate' value="Out.FlowRate" />
                <span class="input-group-addon">ml/min</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon">开始时间</span>
                <input type="text" class="form-control" [(ngModel)]='Out.StartTime'>
            </div>
            <div class="input-group">
                <span class="input-group-addon">结束时间</span>
                <input type="text" class="form-control" [(ngModel)]='Out.EndTime'>
            </div>
        </div>
    </div>

    <div class='panel panel-default'>
        <div class='panel-heading'>
            摇床
        </div>
        <div class='panel-body'>
            <div class="checkbox">
                <label>
                      <input [(ngModel)]='Rocker.IsEnabled' type="checkbox" />Is Enabled
                    </label>
            </div>
            <div class='input-group bottom-gap'>
                <span class='input-group-addon'>速度</span>
                <input [(ngModel)]='Rocker.Speed' type='text' class='form-control' />
            </div>
            <div class='input-group'>
                <span class='input-group-addon'>角度</span>
                <input [(ngModel)]='Rocker.Angle' type='text' class='form-control' />
            </div>
        </div>
    </div>

    <div class='panel panel-default'>
        <div class='panel-heading'>
            温度
        </div>
        <div class='panel-body'>
            <div class="checkbox">
                <label>
                      <input [(ngModel)]='IsTemperatureEnabled' type="checkbox" />Is Enabled
                    </label>
            </div>
        </div>
    </div>
</div>
<footer></footer>