<header></header>
<div class="well well-sm" style='position:fixed; width:100%; z-index:3;'>
    <div class="container fixed-width">
        <button type="button" class="btn btn-primary" disabled id="btnStart" (click)='start()'>
            开始
        </button>
        <button type="button" class="btn btn-default" disabled id="btnPauseLH" (click)='pause()'>
            暂停
        </button>
        <button type="button" class="btn btn-default" id="btnRestart" (click)='restart()'>
            结束
        </button>
    </div>
</div>
<div style="padding-top:80px;">
    <div class="container">
        <div id='qrInfo' class="alert alert-info" style="display: none" role="alert">耗材已准备就绪</div>
        <div class='input-group bottom-gap col-sm-12'>
            <span class='input-group-addon'>状态：</span>
            <input readonly type='text' class='form-control' id='txtStatus' [(ngModel)]="Model.CurrStatus" />
        </div>
    </div>
    <div class='area'>
        <div class='clearfix'>
            <div class='gas-area'>
                <div class='gas-item'>
                    <span class='gas-name'>AIR</span>
                    <span class='gas-p'>{{Model.Gas.FlowRate}}ml/min</span>
                    <span class='gas-x'>{{Model.Gas.Concentration}}ppm</span>
                    <span class='circle' style='background:blue'></span>
                    <span class='h-line'></span>
                </div>
                
                <div class='v-line'></div>
            </div>
            <div class='sys-area'>
                <div class='v-line' style='position:absolute; height:200px; top:10px;'></div>
                <div class='sys-item'>
                    <span class='h-line' style='position:relative;top:10px; width:30px;'></span>
                    <span class='sys-name'>温度</span>
                    <span class='sys-p'>{{Model.Temperature.Temperature}}℃</span>
                </div>
                <div class='sys-item'>
                    <span class='h-line' style='position:relative;top:10px; width:30px;'></span>
                    <span class='sys-name'>溶液体积</span>
                    <span class='sys-p'>{{Model.CurrVolume}}ml</span>
                </div>
                <div class='sys-item'>
                    <span class='h-line' style='position:relative;top:10px; width:30px;'></span>
                    <span class='sys-name'>PH</span>
                    <span class='sys-p'>7.0</span>
                </div>
            </div>
        </div>
        <div class='rocker-area'>
            <div class='rocker'>
                <div id='rockerTop' data-rotation="0" class='rocker-top'></div>
                <div class='triangle-up' style='position:relative; left:43px;'></div>
                <div class='rocker-bottom'>
                    <div class='rocker-speed'>
                        <span>速度</span>
                        <p>{{Model.Rocker.Speed}}</p>
                    </div>
                    <div class='rocker-angle'>
                        <span>角度</span>
                        <p>{{Model.Rocker.Angle}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='pump clearfix'>
            <div class='pump-in'>
                <div class='pump-in-line'>
                    <div class='v-line'></div>
                    <div class='h-line'></div>
                </div>
                <div class='pump-in-status'>
                    <p>进泵(ml/min)</p>
                    <span>{{Model.In.CurrFlowRate}}</span>
                </div>
                <span id='pumpInRun' class='pump-in-run circle' style='background:orange'></span>
            </div>
            <div class='pump-out'>
                <div class='pump-out-line'>
                    <div class='v-line'></div>
                    <div class='h-line'></div>
                </div>
                <div class='pump-out-status'>
                    <p>出泵(ml/min)</p>
                    <span>{{Model.Out.CurrFlowRate}}</span>
                </div>
                <span id='pumpOutRun' class='pump-out-run circle' style='background:darkgreen'></span>
            </div>
        </div>
    </div>
</div>
<footer></footer>