li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: #222;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.header a {
    color: white;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}

.clear {
    clear: both;
    content: '.';
    width: 0;
    display: hidden;
    display: block;
}

.commandArea {
    width: 1280px;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 9px;
}

.runarea {
    margin: 0 auto;
    width: 600px;
    border: 1px solid orange;
    padding: 20px;
}

.pump {
    border: 1px solid orange;
    padding: 10px;
    margin: 10px;
}

#container,
.sys {
    width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
}